body{
  background-color: #eaeaea;
}
/* hr은 위아래좌우 둘러싸는 형태. 그래서 하나의 점들로 만드려면 */
/* 일단 전체 스타일 없애고 윗쪽만 스타일 넣으면 됨 */
hr {
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
