body{
  background-color: #eaeaea;
}
/* hr은 위아래좌우 둘러싸는 형태. 그래서 하나의 점들로 만드려면 */
/* 일단 전체 스타일 없애고 윗쪽만 스타일 넣으면 됨 */
hr {
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1, h3 {
  color: #3ec1d3;
}

img:hover{
  border-radius: 100%;
}

/* id 선택자는 한군데 밖에 못쓴다. class 선택자는 어디에 써도 됨
  class는 여러 클래스를 한번에 적용할 수 있다.
 */
.title{
  color: blue;
}

#top_title{
  color: yellow;
}
